table.mat-mdc-table {
    width: 90%;
}

::ng-deep div.mat-elevation-z8 {
    width: 80%;
    margin-left: 10%;
    margin-top: 2%;

}

::ng-deep tr.mat-mdc-header-row {
    background-color: #0070AD;
    color: white;

}

::ng-deep th.mat-mdc-header-cell{
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
}

::ng-deep .mat-mdc-table .mdc-data-table__header-row{
    height: 40px;
}

::ng-deep .mat-mdc-table .mdc-data-table__row{
    height: 37px;
}


.mdc-data-table__cell{
    height: 42px;
}

/* .mat-mdc-row:hover .mat-mdc-cell {
    background-color: rgb(233, 233, 233);
  }
 */

  // fix height of mat form field
::ng-deep .mat-mdc-text-field-wrapper.mdc-text-field--outlined .mat-mdc-form-field-infix {
    padding-top: 12px;
    padding-bottom: 12px;
}

::ng-deep .mat-mdc-text-field-wrapper {
    height: 48px !important;
}
 
::ng-deep .mat-mdc-form-field .ng-tns-c18-0.mat-mdc-form-field-type-mat-input.mat-mdc-form-field-has-icon-suffix.mat-form-field-appearance-outline.mat-primary.ng-star-inserted.mat-focused{
    border-color: black;
}

/* // colors for the checkbox
::ng-deep  .mat-mdc-checkbox.mat-accent {
    --mdc-checkbox-selected-checkmark-color: #fff;
    --mdc-checkbox-selected-focus-icon-color: #0070ad;
    --mdc-checkbox-selected-hover-icon-color: #0070ad;
    --mdc-checkbox-selected-icon-color: #0070ad;
    --mdc-checkbox-selected-pressed-icon-color: #0070ad;
    --mdc-checkbox-unselected-focus-icon-color: #212121;
    --mdc-checkbox-unselected-hover-icon-color: #212121;
    /* --mdc-checkbox-disabled-selected-icon-color: rgba(0, 0, 0, 0.38); */
    /* --mdc-checkbox-disabled-unselected-icon-color: rgba(0, 0, 0, 0.38); */
    /* --mdc-checkbox-unselected-icon-color: rgba(0, 0, 0, 0.54); */
    /* --mdc-checkbox-unselected-pressed-icon-color: rgba(0, 0, 0, 0.54); */
//}
 
::ng-deep .mat-mdc-paginator .mat-mdc-text-field-wrapper.mdc-text-field--outlined .mat-mdc-form-field-infix {
    padding-top: 10px;
    padding-bottom: 8px;
}

::ng-deep .mat-mdc-paginator.mat-mdc-select-value, .mat-mdc-paginator.mat-mdc-select-arrow  {
    color: #ffffff;
}
