<app-search></app-search>

<div class="mat-elevation-z8">
  <table matSort mat-table [dataSource]="dataSource">

    <!-- Position Column -->
    <ng-container matColumnDef="client_name">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> {{ 'PACKAGE_LIST.TABLE.CLIENT_NAME' | translate }}  </th>
      <td mat-cell *matCellDef="let element"> {{element.client_name}} </td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="package_price">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> {{ 'PACKAGE_LIST.TABLE.PACKAGE_PRICE' | translate }} </th>
      <td mat-cell *matCellDef="let element"> {{element.package_price}} </td>
    </ng-container>

    <!-- Weight Column -->
    <ng-container matColumnDef="extraction_date">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> {{ 'PACKAGE_LIST.TABLE.EXTRACTION_DATE' | translate }} </th>
      <td mat-cell *matCellDef="let element"> {{element.extraction_date | date:"yyyy-MM-dd"}} </td>
    </ng-container>

    <!-- Symbol Column -->
    <ng-container matColumnDef="shipping_tier">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>  {{ 'PACKAGE_LIST.TABLE.SHIPPING_TIER' | translate }} </th>
      <td mat-cell *matCellDef="let element"> {{element.shipping_tier}} </td>
    </ng-container>

    <!-- Symbol Column -->
    <ng-container matColumnDef="shipping_address">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> {{ 'PACKAGE_LIST.TABLE.SHIPPING_ADDRESS' | translate }} </th>
      <td mat-cell *matCellDef="let element"> {{element.shipping_address}} </td>
    </ng-container>

    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> {{ 'PACKAGE_LIST.TABLE.ACTIONS' | translate }}  </th>	
        <!-- <mat-icon style="margin-left: 10px;">control_point</mat-icon>  -->
      <td mat-cell *matCellDef="let row">
          <mat-icon style="cursor: pointer;">edit</mat-icon>
          <mat-icon style="cursor: pointer;" (click)="openDetails()">description</mat-icon>
          <mat-icon style="color:red; cursor: pointer;" (click)="openConfirmation()">delete</mat-icon>
          <!-- <mat-checkbox ></mat-checkbox> -->
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

  <mat-paginator [pageSizeOptions]="[5, 10, 100, 500, 1200]" style="color: #fff; background-color: #0070ad;" aria-label="Select page of users"></mat-paginator>

</div>