.big-box {
    height: 25%;
    width: 80%;
    border: 2px solid #0070AD;
    margin: auto;
    margin-top: 40px;
    display: flex;
}

.title-div{
    background: #ffffff;
    font-weight: 500;
    color: #0070ad;
    position: relative;
    top: -11px;
    left: 16px;
    padding: 0px 6px;
}

.dashboard {
    background-color: var(--background-color);
    color: var(--text-color);
  }

.big-box .title-div {
    background-color: var(--title-div-color);
}