
<mat-toolbar style="position: relative;">
    <span>
        <img src="assets\images\logo-cap.svg" style="width: 120px; height:50px">
    </span>
  
    <span class="spacer"></span>
    <span class="spacer"></span>
  
    <a routerLink="laposte/package-creation" routerLinkActive="active-link" class="menu-link"> {{ 'NAVBAR.SEND_PACKAGE' | translate }} </a>
    <a routerLink="laposte/package-table" routerLinkActive="active-link" class="menu-link"> {{ 'NAVBAR.PACKAGE_LIST' | translate }} </a>
    <a routerLink="laposte/dashboard" routerLinkActive="active-link" class="menu-link" >  {{ 'NAVBAR.DASHBOARD' | translate }}  </a>
    
    <span class="spacer"></span>
    <span class="spacer"></span>

    <!-- <span style="margin-right: 8px;">
        <img src="assets\images\bar-icon.svg">
    </span>
    <span>
        <img src="assets\images\user.svg">
    </span> -->
    <span style="margin-right: 10px;">
        <mat-slide-toggle [(ngModel)]="darkMode" (change)="toggleTheme()"></mat-slide-toggle>
    </span>

    <select (change)="selectLang($event)" class="select-language">
        <option style="background-color: transparent; font-size: 15px; font-weight: bold; color: #0070AD;" *ngFor="let item of supportedLanguages"> {{item}} </option>
    </select>  


    <!-- <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
        <mat-icon>menu</mat-icon>
    </button> -->
    <span style="margin-left: 8px; cursor: pointer;">
        <img src="assets\icons\account-icon.svg">
    </span>
    
</mat-toolbar>