
<mat-toolbar style="position: relative;">
    <span>
        <img src="assets\images\logo.png" style="width: 120px; height:50px">
    </span>
  
    <span class="spacer"></span>
    <span class="spacer"></span>
  
    <a routerLink="/package-creation" routerLinkActive="active-link" class="menu-link"> SEND PACKAGE</a>
    <a routerLink="/package-table" routerLinkActive="active-link" class="menu-link"> PACKAGE TABLE</a>
    <a routerLink="/dashboard" routerLinkActive="active-link" class="menu-link"> DASHBOARD </a>
    
    <span class="spacer"></span>
    <span class="spacer"></span>

    <!-- <span style="margin-right: 8px;">
        <img src="assets\images\bar-icon.svg">
    </span>
    <span>
        <img src="assets\images\user.svg">
    </span> -->
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
        <mat-icon>menu</mat-icon>
    </button>
    
</mat-toolbar>