.big-box {
  width: 95%;
  max-width: 2600px;
  height: 50%;
  border: 2px solid #0070AD;
  position: relative;
  margin: -32px auto;
  padding: 20px;
  background-color: var(--background-color);
  color: var(--text-color);
}

.small-box {
  width: 95%;
  max-width: 2600px;
  height: 2px;
  border: 2px solid #0070AD;
  position: relative;
  margin: 30px auto;
  padding: 20px;
  background-color: #0070AD;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
}

::ng-deep .mat-step-header .mat-step-icon {
  background-color: #0070AD;
  color: white;
  font-weight: 500;
  width: 2.5rem;
  height: 2.5rem;
}

::ng-deep .mat-step-header .mat-step-label {
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  // text-decoration: underline;
}


.form-fields {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.custom-input::placeholder {
  font-family: 'Montserrat', sans-serif;
}

.button-group {
  display: flex;
  justify-content: space-between;
}

.button-group button {
  margin-right: 10px;
}

.step-buttons {
  display: flex;
  justify-content: flex-end;
  margin-top: -80px;
}

.step-buttons button {
  margin-top: 12%;
  margin-left: 10px;
  background-color: #0070AD;
  color: white;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  border-radius: 40px !important;
}

.step-buttons button:first-child {
  margin-left: 0;
}

::ng-deep .mat-calendar {
  background-color: #0070AD;
  width: 291px;
  height: 312px;
}

::ng-deep .mat-calendar-body-cell-content {
  color: white;
}

::ng-deep .mat-mdc-form-field{
  width: 250px;
}

::ng-deep .mdc-floating-label--required:not(.mdc-floating-label--hide-required-marker)::after {
  color: #ff0000;
}

::ng-deep .mat-mdc-select-arrow{
  color: #0070AD;
}

::ng-deep .mat-mdc-form-field.mat-focused.mat-primary .mat-mdc-select-arrow{
  color: #0070AD;
}


::ng-deep .mat-primary .mat-pseudo-checkbox-checked.mat-pseudo-checkbox-minimal::after, .mat-primary .mat-pseudo-checkbox-indeterminate.mat-pseudo-checkbox-minimal::after{
  color: #0070AD;
}

// Disable header navigation for the stepper
::ng-deep .mat-horizontal-stepper-header{
  pointer-events: none !important;
}


//::ng-deep .mat-mdc-option {
  //min-height: 36px !important;
//}

::ng-deep .mat-step-header {
  background-color: var(--mat-stepper-header-background) !important;
  color: var(--mat-stepper-header-color) !important;
}

::ng-deep .mat-horizontal-content-container {
  background-color: var(--mat-stepper-content-background) !important;
  color: var(--mat-stepper-content-color) !important;
}

::ng-deep .mat-mdc-text-field-wrapper .mdc-text-field {
  border-color: var(--input-border-color) !important;
}

::ng-deep .mat-mdc-text-field-wrapper .mdc-text-field input {
  color: var(--text-color) !important;
}

::ng-deep .mdc-text-field:not(.mdc-text-field--disabled) .mdc-floating-label {
  color: var(--floating-label-color) !important;
}

::ng-deep .mat-mdc-option .mdc-list-item__primary-text {
  background-color: var(--mat-option-background-color) !important;
  color: var(--option-text-color) !important;
}

::ng-deep .mdc-text-field--filled:not(.mdc-text-field--disabled) {
  background-color: var(--filled-input-background-color) !important;
}

::ng-deep .mdc-text-field:not(.mdc-text-field--disabled) .mdc-text-field__input {
  color: var(--input-text-color) !important;
}

.mat-form-field {
  color: var(--text-color);
}

::ng-deep .cdk-overlay-pane:not(.mat-mdc-select-panel-above) .mdc-menu-surface.mat-mdc-select-panel {
  background-color: var(--select-panel-background-color) !important;
  color: var(--select-panel-text-color) !important;
}

::ng-deep .mat-mdc-option.mat-active {
  color: var(--select-selected-item-color) !important;
}

::ng-deep .mat-mdc-select-value {
  color: var(--select-value-color) !important;
}

::ng-deep .mat-horizontal-stepper-wrapper {
  background-color: var(--stepper-wrapper-background-color) !important;
}

.mat-step-header .mat-step-label.mat-step-label-active {
  color: var(--active-step-label-color) !important;
}

.mat-stepper-horizontal-line {
  border-color: var(--horizontal-line-color) !important;
}

::ng-deep .mdc-text-field--filled .mdc-line-ripple::after {
  border-bottom-color: var(--mdc-line-ripple-color) !important;
}

::ng-deep .mat-mdc-slide-toggle .mdc-switch:enabled .mdc-switch__track::after {
  background: var(--mdc-switch-selected-track-color) !important;
}

.red-astrek::after {
  content: " * ";
  color: red;
  font-weight: bold;
  margin-left: 3px;
}

::ng-deep .mdc-text-field--filled:not(.mdc-text-field--disabled) {
  background-color: var(--filled-input-background-color) !important;
  height: 46px !important;
  border-radius: 4px !important;
}

::ng-deep .mdc-line-ripple::before {
  border-bottom-width: 0px !important;
}

::ng-deep .mat-mdc-form-field-focus-overlay {
  border-radius: 0px !important;
}