.details-dialog{
    height: 45px !important;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 16px;
    background-color: #0070ad; 
    display: flex; 
    justify-content: center; 
    align-items: center;
    color: #fff;
}