.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

mat-form-field {
    font-family: 'Montserrat', sans-serif;
    width: 500px;
    border-radius: 1px !important;
}

::ng-deep .mat-mdc-form-field-infix {
    min-height: 40px !important;
}

::ng-deep .mdc-notched-outline__leading, ::ng-deep .mdc-notched-outline__notch,::ng-deep .mdc-notched-outline__trailing{
    border-radius: 0px !important;
    border-color: #0070ad !important;
}


::ng-deep .mat-mdc-icon-button svg {
    vertical-align: baseline;
    //fill: #fff;
}

::ng-deep  .mat-mdc-icon-button[disabled] .mat-mdc-paginator-icon {
    //fill: #ffffff;
}

::ng-deep *, ::after, ::before {
    box-sizing: border-box;
    //color: #fff;
}

.search-component ::ng-deep .mat-mdc-form-field-has-icon-suffix .mat-mdc-text-field-wrapper {
    background-color: #ffffff !important;
    padding-right: 0;
  }
 
.search-component ::ng-deep .mdc-text-field--filled .mdc-line-ripple::after {
    border-bottom-color: var(--mdc-line-ripple-color) !important;
  }

.search-component ::ng-deep .mat-mdc-slide-toggle .mdc-switch:enabled .mdc-switch__track::after {
    background: #ffffff !important;
  }
  
