.cancle-button{
    background-color: #fff !important; 
    color: #a3a3a3 !important;
    border: 3px solid #a3a3a3 !important;
    border-radius: 42px; 
    font-family: 'Montserrat', sans-serif;
    height: 40px; 
    width: 170px; 
    font-weight: bold;
}

.yes-button{
    background-color: #0070ad !important;
    color: #fff !important; 
    font-family: 'Montserrat', sans-serif;
    border: 3px solid #0070ad !important;
    border-radius: 42px; 
    height: 40px; 
    width: 170px; 
    font-weight: bold; 
    border-width: 2px;
}