/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: "Montserrat", sans-serif; }

/* styles.css */

:root {
    --filled-input-background-color: #ffffff;
    --input-text-color: #121212;
    --select-panel-background-color: #ffffff;
    --select-panel-text-color: #cf0000;
    --select-selected-item-color: #0070AD;
    --select-value-color: #121212;
    --stepper-wrapper-background-color: #ffffff;
    --active-step-label-color: rgba(0, 0, 0, 0.87);
    --option-text-color: #121212;
    --horizontal-line-color: #5c5c5c;
    --title-div-color: #fff;
    --filled-input-background-color: #d9d9d9 !important; 
    --mdc-line-ripple-color: #0070ad; 
    --mdc-switch-selected-track-color: #fff;

  }

.light-mode{
  --background-color: #ffffff;
  --text-color: #121212;
  --mat-stepper-header-color: #0070AD;
  --mat-stepper-header-background: #fff;
  --mat-stepper-content-background: #ffffff;
  --mat-stepper-content-color: #121212;
  --input-border-color: #0070AD;
  --floating-label-color: #000000;
  --filled-input-background-color: #d9d9d9 !important; 
  --mdc-switch-selected-track-color: #fff; 

}  
  
.dark-mode {
    --background-color: #121212;
    --text-color: #ffffff;
    --mat-stepper-header-color: #fff;
    --mat-stepper-header-background: #121212;
    --mat-stepper-content-background: #121212;
    --mat-stepper-content-color: #ffffff;
    --input-border-color: #fff;
    --floating-label-color: #fff;
    --filled-input-background-color: #333333; 
    --input-text-color: #fff; 
    --select-panel-background-color: #333333;
    --select-panel-text-color: #ffffff;
    --select-selected-item-color: #011800;
    --select-value-color: #fff; 
    --stepper-wrapper-background-color: #121212;
    --active-step-label-color: #fff;
    --option-text-color: #fff;
    --horizontal-line-color: #5c5c5c; 
    --title-div-color: #121212;
    --mdc-switch-selected-track-color: #ffffff;
}
  
body {
    background-color: var(--background-color);
    color: var(--text-color);
}

  .mat-step-header .mat-step-label.mat-step-label-active {
    color: var(--active-step-label-color) !important;
  }

  .mat-stepper-horizontal-line {
    border-color: var(--horizontal-line-color) !important;
  }